<div class="banner">
    <div class="container">
        <div class="logo">
            <a href="#/"><img src="images/logo.png" alt="" width="129" height="76"/></a>
        </div>
        <div class="menu">
            <ul class="megamenu skyblue">
                <li><a class="color2" href="/#/mens">Mens</a></li>
    			<li class="active grid" ><a class="color3" href="/#/login">Login</a></li>
    			<div class="clearfix"></div>
    		</ul>
        </div>
        <div class="clearfix"> </div>
        <div class="header_arrow">
            <a href="#arrow" class="scroll"><span> </span></a>
        </div>
    </div>
</div>
