<!-- Modal -->
<div id="grabItModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content reset-modal">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Grab It In A Minute</h4>
      </div>
      <div class="modal-body">
          <!-- <form novalidate ng-submit="grabItSubmit(grabItData)">
            <input type="email" ng-modal="grabItData.userEmail" class="user-icon input-fields" placeholder="Enter Email">
            <button type="button" class="btn btn-default btn-reset-cancel" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-success btn-reset-success" value="Go"/>
        </form> -->
        
      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>
