<div class="login-singup">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-xs-5 login-content">
            <h2>Login</h2>
            <form novalidate="" ng-submit="">
                <div class="col-md-12 col-xs-12">
                    <label>Email:</label>
                    <input type="text" class="form-control" name="userEmail" ng-model="loginData.email">
                </div>
                <div class="col-md-12 col-xs-12">
                    <label>Password:</label>
                    <input type="password" class="form-control" name="userPassword" ng-model="loginData.password">
                </div>
            </form>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-7">
        </div>
    </div>
</div>
