
  <div class="top_grid" id="arrow">
      <div class="content_middle">
        <div class="col-md-4 col2">
            <a href="/#/style/1" class="b-link-stroke b-animate-go  thickbox">
           <img src="images/pic4.jpg" class="img-responsive" alt=""/><div class="b-wrapper"><h2 class="b-animate b-from-left b-delay03">BollyWood EeshStyle...</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
        </div>
        <div class="col-md-4 col2">
            <a href="/#/style/2" class="b-link-stroke b-animate-go  thickbox">
           <img src="images/pic5.jpg" class="img-responsive" alt=""/><div class="b-wrapper"><h2 class="b-animate b-from-left b-delay03">Indori EeshStyle...</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
        </div>
        <div class="col-md-4">
            <a href="/#/style/3" class="b-link-stroke b-animate-go  thickbox">
           <img src="images/pic6.jpg" class="img-responsive" alt=""/><div class="b-wrapper"><h2 class="b-animate b-from-left b-delay03">Retro EshStyle...</h2><p class="b-animate b-from-right b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
        </div>
        <div class="clearfix"> </div>
      </div>
   <div class="content_middle">
     <div class="col-md-4 col2">
         <a href="/#/style/4" class="b-link-stroke b-animate-go  thickbox">
        <img src="images/pic4.jpg" class="img-responsive" alt=""/><div class="b-wrapper"><h2 class="b-animate b-from-left b-delay03">Mumbaiya EeshStyle...</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
     </div>
     <div class="col-md-4 col2">
         <a href="/#/style/5" class="b-link-stroke b-animate-go  thickbox">
        <img src="images/pic5.jpg" class="img-responsive" alt=""/><div class="b-wrapper"><h2 class="b-animate b-from-left b-delay03">Hyderabadi EeshStyle...</h2><p class="b-animate b-from-right    b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
     </div>
     <div class="col-md-4">
         <a href="/#/style/6" class="b-link-stroke b-animate-go  thickbox">
        <img src="images/pic6.jpg" class="img-responsive" alt=""/><div class="b-wrapper"><h2 class="b-animate b-from-left b-delay03">Delhi 6 EshStyle...</h2><p class="b-animate b-from-right b-delay03 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></a>
     </div>
     <div class="clearfix"> </div>
   </div>
 </div>
