<div class="col-md-12 single_top product-detail">
    <div class="single_left">
        <div class="col-md-5">
            <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                <div class='carousel-outer'>
          <!-- Wrapper for slides -->
                <div class='carousel-inner'>
                    <div class='item active'>
                      <img src='http://placehold.it/400x200&text=slide1' alt='' />
                    </div>
                    <div class='item'>
                      <img src='http://placehold.it/400x200&text=slide2' alt='' />
                    </div>
                    <div class='item'>
                      <img src='http://placehold.it/400x200&text=slide3' alt='' />
                    </div>
                    <div class='item'>
                      <img src='http://placehold.it/400x200&text=slide4' alt='' />
                    </div>
                </div>
            </div>

      <!-- Indicators -->
            <ol class='carousel-indicators mCustomScrollbar'>
                <li data-target='#carousel-custom' ng-non-bindable data-slide-to='0' class='active'><img src='http://placehold.it/100x50&text=slide1' alt='' /></li>
                <li data-target='#carousel-custom' ng-non-bindable data-slide-to='1' class=""><img src='http://placehold.it/100x50&text=slide2' alt='' /></li>
                <li data-target='#carousel-custom' ng-non-bindable data-slide-to='2' class=""><img src='http://placehold.it/100x50&text=slide3' alt='' /></li>
                <li data-target='#carousel-custom' ng-non-bindable data-slide-to='3' class=""><img src='http://placehold.it/100x50&text=slide4' alt='' /></li>
            </ol>
        </div>
        <div class="clearfix"></div>
    </div>
		<div class="cont1 col-md-7">
				<h1>{{item.name}}</h1>
                <div class="border-bottom"></div>
				<p class="availability">Availability: <span class="color">In stock</span></p>
                <p class="availability">Fit: <span class="color">{{item.fit}}</span></p>
                <p class="availability">Length: <span class="color">{{item.length}}</span></p>
                <div class="border-bottom"></div>
                <h2 class="quick">Quick Overview:</h2>
				<p class="quick_desc"> {{item.description}}</p>
                <div class="border-bottom"></div>
                <div class="price_single">
                    <div class="price_container">
                        <span class="reducedfrom">Rs. {{item.actualPrice}}</span>
                        <span class="actual">Rs. {{item.price}}</span>
                    </div>
                  <button title="Grab it Now" class="btn btn-primary btn-normal btn-inline grab-btn" ng-click="grabIt()">Grab it Now</button>
				</div>
                <div class="border-bottom"></div>
			</div>
		    <div class="clearfix"> </div>
		</div>
	</div>
		<!-- <div class="col-md-3 related_product">
	      <h3 class="m_1">Related Products</h3>
	      <ul class="product">
	      	<li class="product_img"><img src="images/m5.jpg" class="img-responsive" alt=""/></li>
	      	<li class="product_desc">
	      		<h4><a href="#">quod mazim</a></h4>
	      		<p class="single_price">$66.30</p>
	      		<a href="#" class="link-cart">Add to Wishlist</a>
	      	    <a href="#" class="link-cart">Add to Cart</a>
	        </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="product">
	      	<li class="product_img"><img src="images/m6.jpg" class="img-responsive" alt=""/></li>
	      	<li class="product_desc">
	      		<h4><a href="#">quod mazim</a></h4>
	      		<p class="single_price">$66.30</p>
	      		<a href="#" class="link-cart">Add to Wishlist</a>
	      	    <a href="#" class="link-cart">Add to Cart</a>
	        </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="product">
	      	<li class="product_img"><img src="images/m2.jpg" class="img-responsive" alt=""/></li>
	      	<li class="product_desc">
	      		<h4><a href="#">quod mazim</a></h4>
	      		<p class="single_price">$66.30</p>
	      		<a href="#" class="link-cart">Add to Wishlist</a>
	      	    <a href="#" class="link-cart">Add to Cart</a>
	        </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="product">
	      	<li class="product_img"><img src="images/m3.jpg" class="img-responsive" alt=""/></li>
	      	<li class="product_desc">
	      		<h4><a href="#">quod mazim</a></h4>
	      		<p class="single_price">$66.30</p>
	      		<a href="#" class="link-cart">Add to Wishlist</a>
	      	    <a href="#" class="link-cart">Add to Cart</a>
	        </li>
	      	<div class="clearfix"> </div>
	      </ul>
        </div> -->
    <div class="clearfix"> </div>
</div>
